*{
    margin: 0px;
    padding: 0px
}

.wrapper{
    width: 1000px;
    margin: auto;
    border-style: dashed;

}

.title{
    text-align: center;
    font-size: 20pt;

}


.count {
    display: inline-block;
    width: 150px;
    border-style: double;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: lightyellow;

}

.location{
    display: inline-block;
    vertical-align: top;
    margin: 30px;

}


